
<!--Navbar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" style="background-color:white; margin-right: 5px"/>
      <span style="font-family: Impact, Charcoal, sans-serif; color:white; margin-right: 3px">MyApp</span>
      <span style="color:white; font-size: 0.1em">{{version}}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav  mt-2 mt-lg-0 mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
   <!-- Links -->
  
  <!-- Search form -->
   <!-- <form class="form-inline waves-light" mdbWavesEffect>
       <div class="md-form mt-0">
           <input class="form-control mr-sm-2" type="text" placeholder="Search">
       </div>
   </form> -->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-dark waves-light" style="padding-top: 5px; padding-bottom: 5px;">
                <app-avatar src="assets/images/avatar.jpg" [round]="true" [size]="35" ></app-avatar>                
              </button>    
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="console.log('todo:logout action')">Log out</a>
              </div>
          </div>    
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
  </nav>
  
  