<app-layout>
  <div main-content>
    <div class="row" style="height:500px">
      <div class="col-lg-3" style="background-color: lightblue">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
              aria-controls="collapseExample">Active</a>
            <div id="collapseExample" class="collapse">
              <ul class="nav flex-column">
                <li class="nav-item" style="margin-left:30px">
                  <a class="nav-link active" (click)="navigate('/table1')">Active-table1</a>
                </li>
                <li class="nav-item" style="margin-left:30px">
                  <a class="nav-link active" (click)="navigate('/table2')">Active-table2</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9" style="background-color: lightgray">
        <router-outlet>

        </router-outlet>
      </div>
    </div>


  </div>
</app-layout>
